@charset "UTF-8";
/* CSS Document */

@import 'bemskel.css';

/*Overall stuff*/
html{
	overflow-y: scroll;
	-moz-scrollbars: vertical;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p{
	padding-bottom: 1em;
}

#wrapper{
	margin: 0 auto;
	max-width: 900px;
}
/*Overall stuff end*/

/*Navigation*/
nav{
	margin: 3% 0;
	padding-top: 2%;
	background-color: rgb(0, 0, 0);

	ul{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		list-style-type: none;

		li{
			text-align: center;
		}
	}
}

nav a{
	width: 100%;
	font-family: 'Miss Fajardose', cursive;
	text-decoration: none;
	color: #FFF;
	font-size: 3em;
}
/*Navigation end*/